In [8]:
import pemi
import pemi.data
from pemi.fields import *

In [10]:
pemi.data.Table(
    '''
    | student_uuid | external_lead_id | ok_sms        | pipeline_external_id | last_meeting_at     |
    | -            | -                | -             | -                    | -                   |
    | {stu[1]}     | One              | True          | P11                  |                     |
    | {stu[1]}     | One              | True          | P12                  |                     |
    | {stu[2]}     | Two              | False         | P21                  | 2018-10-11 00:00:01 |
    '''
).df

,student_uuid,external_lead_id,ok_sms,pipeline_external_id,last_meeting_at
0,{stu[1]},One,True,P11,NaN
1,{stu[1]},One,True,P12,NaN
2,{stu[2]},Two,False,P21,2018-10-11 00:00:01

In [12]:
today = datetime.datetime.now()
today.strftime('%Y-%m-%d %H:%M:%S')

'2018-10-16 16:54:33'

In [7]:
import datetime
today = datetime.datetime.now()
print(today)
print(today - datetime.timedelta(days=3, seconds=-1))

2018-10-16 00:35:47.567400
2018-10-13 00:35:48.567400

In [14]:
pemi.data.Table(
    nrows=10,
    schema=pemi.Schema(
        one=DecimalField(precision=8, scale=2),
        two=DecimalField(precision=6, scale=5)
    )
).df#['one']

         one      two
0     -155.0    0.773
1     -29.23     -1.0
2  585230.48      4.0
3      380.0  -7.2251
4       62.2  0.34687
5     463.96  -8.1724
6    -6485.5  0.60739
7  -501856.0    -7.87
8  -988656.5   4.4243
9       6.92      9.1

In [10]:
plerg = 3
PLERG = 2
plerG

NameError: name 'plerG' is not defined

In [3]:
import decimal
decimal.Decimal('8.234').as_tuple()

DecimalTuple(sign=0, digits=(8, 2, 3, 4), exponent=-3)

In [4]:
x=lambda: pemi.data.FAKER.pydecimal(left_digits=pemi.data.FAKER.random_int(min=0, max=3), right_digits=pemi.data.FAKER.random_int(min=0, max=8))
for i in range(100):
    print(x())

-67.367
0.335197
-887.3812
0.18
-13.94528
514.174915
8.3
72.8981
-79.99523
-428.0
0.332267
8.38
-693.72
-72.0
285.3
0.231

ValueError: A float number cannot have less than 0 digits in total